.counterbox{
    background-color: #1c2120;
    border-radius: 40px;
    height: max-content;
    width: 260px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.screen{
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 40px;
    font-size: 24px;
    text-align: right;
}

.playbtns{
    width: 100%;
    display: flex;
    gap: 0;
}

.btns{
    width: 100%;
    outline: none;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #1c2120;
    border: 2px solid #7ed957;
    color: #ffffff;
}

.b1{
    border-radius: 40px 0px 0px 40px;
    transition: transform 0.3s ease;
}
.b3{
    border-radius: 0px 40px 40px 0px;
    transition: transform 0.3s ease;
}
.b2{
    border-left: 0px;
    border-right: 0px;
    transition: transform 0.3s ease;
}

.b1:hover,.b2:hover, .b3:hover{
    background-color: #7ed957;
    transform: scale(1.08);
}
