.counterbox{
    background-color: #1c2120;
    border-radius: 40px;
    height: 240px;
    width: 260px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.screen{
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 40px;
    font-size: 20px;
    text-align: right;
}

.playbtns{
    width: 100%;
    display: flex;
    gap: 0;
}

.btns{
    width: 100%;
    outline: none;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #1c2120;
    border: 2px solid #7ed957;
    color: #ffffff;
}

