*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;;
}

body{
  height: 100vh;
  font-family: "JetBrains Mono", monospace;
  display: flex;
  justify-content: center;
  cursor: default;
}

#root{
  height: 100%;
  max-width: 1600px;
  width: 100%;
  background-color: #f5f5f5;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

span {
  color: #7ed957;
}

.practice-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 600px;
  background-color: #7ed957;
  padding: 20px;
}